.klevu-upgrade-block {
	width:85%;
	padding:5px;
	border-radius:5px;
	position: relative;
	background: #eff5ea;
	border: 1px solid #95a486;
	text-align:center;
	margin-top:15px;
	color: #3d6611;
}

.klevu-upgrade-block-simple {
	width:90%;
	padding:5px;
	border-radius:5px;
	position: relative;
	background: #eff5ea;
	border: 1px solid #95a486;
	text-align:center;
	margin-top:15px;
	color: #3d6611;
	margin-top:25px;
}

.klevu-upgrade-block:after, .klevu-upgrade-block:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.klevu-upgrade-block:after {
	border-color: rgba(255, 249, 233, 0);
	border-bottom-color: #eff5ea;
	border-width: 8px;
	margin-left: -8px;
	left:34px;
}
.klevu-upgrade-block:before {
	border-color: rgba(238, 226, 190, 0);
	border-bottom-color: #95a486;
	border-width: 10px;
	margin-left: -10px;
	left:34px;
}

.klevu-upgrade-block b{
	color: #3d6611;
	font-size:12px;
}

.kuInfo .kuInfo-fLeft{
	float:left;
	width:31%;
}

.kuInfo .kuInfo-fRight{
	float:right;
	width:68%;
	text-align:right;
}

.kuInfo .kuInfo-fRight ul li{
	display:inline-table;
	padding-left:5px;
	padding-right:5px;
	border-right:1px solid #ccc;
}

.kuInfo .kuInfo-fRight ul li:last-child{
	padding-right:0px;
}

.kuInfo .kuInfo-fRight ul li:first-child, .kuInfo .kuInfo-fRight ul li:last-child{
	border-right:none;
}

.kuInfo .kuInfoClear{
	clear:both;
}

table.kuPlanSelection{
	width:100%;
	border-bottom:1px solid #ddd;
	padding-bottom:8px;
}

table.kuPlanSelection:last-child{
	border-bottom:none;
}


.klevu-upgrade-block button{
	margin-top:10px;
}

.klevu-upgrade-block a{
	color:#eb5e00;
	font-weight:bold;
	text-decoration:underline;
}



.klevu-btn-disabled, .klevu-btn-disabled:hover{
	background: rgba(212,212,212,1);
background: -moz-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(204,204,204,1) 47%, rgba(196,196,196,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,212,212,1)), color-stop(47%, rgba(204,204,204,1)), color-stop(100%, rgba(196,196,196,1)));
background: -webkit-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(204,204,204,1) 47%, rgba(196,196,196,1) 100%);
background: -o-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(204,204,204,1) 47%, rgba(196,196,196,1) 100%);
background: -ms-linear-gradient(top, rgba(212,212,212,1) 0%, rgba(204,204,204,1) 47%, rgba(196,196,196,1) 100%);
background: linear-gradient(to bottom, rgba(212,212,212,1) 0%, rgba(204,204,204,1) 47%, rgba(196,196,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#c4c4c4', GradientType=0 );
border-color: #999;
cursor:auto;
}

.kuSelectPlanHeader{
	text-align:center;
	margin-top:10px;
}

.kuSelectPlanHeader h2{
	margin-bottom:5px !important;
}
	
ul.kuPlanDetails{
	width: 85%;
    margin: 0 auto;
    margin-top: 15px;
	text-align: center;
}

li.kuPlanColumn {
	width:175px;
	display:inline-table;
	background-color:#ffffff;
	border:1px solid #ddd;
	border-radius:5px;
	margin: 0 auto;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
}

li.kuPlanColumn .kuPlanName{
	border-bottom:1px solid #ddd;
	padding:5px;
	text-align:center;
	font-size:15px;
	line-height:24px;
	background-color: #009ACD;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

li.kuPlanColumn .kuPlanName input[type="radio"]{
	margin-top:-3px;
}

li.kuPlanColumn .kuPlanName label{
    color:#ffffff;
    font-family: Arial;
}

li.kuPlanColumn .kuPlanImg{
	text-align:center;
}

li.kuEnterprise, li.kuMicro{
	width:45%;
	margin-top:20px;
	margin-left:5px;
	border:none;
	
}

li.kuEnterprise .kuPlanName, li.kuMicro .kuPlanName{
	float: left;
    width: 27%;
    border-top-right-radius: 0px;
    border-bottom-left-radius:5px;
    border-bottom: 0px;
    height: 24px;
    padding-top: 5px;
    font-size: 14px;
    margin-top: 15px;
}

li.kuEnterprise .kuPlanImg, li.kuMicro .kuPlanImg{
	float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
}

li.kuEnterprise .kuPlanImg img, li.kuMicro .kuPlanImg img{
	max-width:100%;
	 border-radius: 5px;
}

.visuallyhidden {
    display: none;
}

.kuWizardSteps{
	width:100%;
	min-height:70px;
}

.kuWizardSteps .wizard-progress {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    white-space: nowrap;
	width:625px;
	margin:0 auto;
}

.kuWizardSteps .wizard-progress li {
    float: left;
    margin-right: 50px;
    text-align: center;
    position: relative;
    width: 100px;
}

.kuWizardSteps .wizard-progress .step-name {
    display: table-cell;
    height: 32px;
    vertical-align: bottom;
    text-align: center;
    width: 100px;
	font-weight:bold;
	font-size:13px;
}

.kuWizardSteps .wizard-progress .step-name-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: bottom;
}

.kuWizardSteps .wizard-progress .step-num {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #999;
    border-radius: 50%;
    width: 20px;
	height:20px;
    display: inline-block;
    margin-top: 10px;
}

.kuWizardSteps .wizard-progress .step-num:after {
    content: "";
    display: block;
    background: #999999;
    height: 1px;
    width: 130px;
    position: absolute;
    bottom: 10px;
    left: 60px;
}

.kuWizardSteps .wizard-progress li:last-of-type .step-num:after {
    display: none;
}

.kuWizardSteps .wizard-progress .active-step .step-num {
    background-color: #97c63b;
	border: 1px solid #999999;
}

.kuWizardSteps .wizard-progress li:last-child{
	margin-right:0px;
}


.kuTooltip {
    outline: none;
    text-decoration: none;
    position: relative;
}

.kuTooltip strong {
    line-height: 30px;
}

.kuTooltip > span {
	display:none;
    width: 300px;
    padding: 10px 20px;
    margin-top: 0;
    margin-left: -120px;
	line-height:20px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: absolute;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #999;
}

.kuTooltip:hover span{
	display:none;
}

/*a.tooltip > span:hover,*/
.kuMicro .kuTooltip:hover > span {
    opacity: 1;
    text-decoration: none;
    visibility: visible;
    overflow: visible;
    margin-top: -115px;
    display: inline;
    margin-left: -90px;
}

.kuMicro .kuTooltip span b {
    width: 18px;
    height: 18px;
    margin-left: 40px;
    margin-bottom: -20px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}    

.kuMicro .kuTooltip > span {
	color: #000000; 
	background: #FBF5E6;
	border: 1px solid #CFB57C;	     
}    
	  
.kuMicro .kuTooltip span b {
	background: #FBF5E6;
	border-bottom: 1px solid #CFB57C;
	border-left: 1px solid #CFB57C;
}

/* disable Micro plan */
.kuDisableMicro .kuPlanImg, .kuDisableMicro label{
	opacity:0.5;
}

.kuGuideLink{
	position:absolute;
	right:0;
	margin-right:60px;
}

.kuGuideLink a{
	color:#ea7601;
}

.kuGuideLink a:hover{
	text-decoration:underline;
}

#klevu_search_info_searchinformation{
	overflow:hidden;
}

.kuFinishSyncInfo{
	width:800px;
	margin:0 auto;
	text-align: center;
	margin-bottom:20px;
	margin-top:20px;
}


.kuFinishSyncInfo ul{
	margin-top: 21px;
    line-height: 22px;
    font-size: 14px;
	text-align: left;
    width: 606px;
    margin: 0 auto;
}

.kuFinishSyncInfo ul li{
	list-style-type: disc;
}

h4.kuCompleteWarning{
    text-align: right;
    font-size: 12px;
}

.kuErrorPlanMsg {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    width: 65%;
    margin: 0 auto;
    margin-top: 80px;
    background: #fff9e9;
    padding: 10px;
    border: 1px solid #eee2be;
}