<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Klevu_Boosting>
            <version>10.0.4</version>
        </Klevu_Boosting>
    </modules>
    <global>
        <helpers>
            <boosting>
                <class>Klevu_Boosting_Helper</class>
            </boosting>
        </helpers>
        <blocks>
            <boosting>
                <class>Klevu_Boosting_Block</class>
            </boosting>
        </blocks>
        <models>
            <boosting>
                <class>Klevu_Boosting_Model</class>
                <resourceModel>boosting_mysql4</resourceModel>
            </boosting>
            <boosting_mysql4>
                <class>Klevu_Boosting_Model_Mysql4</class>
                <entities>
                    <boost>
                        <table>klevu_products_boosting</table>
                    </boost>
                </entities>
            </boosting_mysql4>
            <klevu_search>
				<rewrite>
					<system_config_source_boosting_attribute>Klevu_Boosting_Model_System_Config_Source_Boosting_Attribute</system_config_source_boosting_attribute>
				</rewrite>
			</klevu_search>
        </models>
        <resources>
            <klevu_boosting_setup>
                <setup>
                    <module>Klevu_Boosting</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </klevu_boosting_setup>
            <boosting_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </boosting_write>
            <boosting_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </boosting_read>
        </resources>
        <events>
            <boosting_save_after>
                <observers>
                    <boosting_update_matchingids>
                        <type>singleton</type>
                        <class>boosting/observer</class>
                        <method>updateMatchingids</method>
                    </boosting_update_matchingids>
                </observers>
            </boosting_save_after>
            <add_external_data_to_sync>
                <observers>
    				<add_boosting_data_to_sync>
    					<type>singleton</type>
    					<class>boosting/observer</class>
    					<method>addBoostingAttribute</method>
    				</add_boosting_data_to_sync>
    			</observers>
            </add_external_data_to_sync>
            <update_rule_of_products>
                <observers>
    				<update_rule_of_products_data>
    					<type>singleton</type>
    					<class>boosting/observer</class>
    					<method>applyALlBoostingRule</method>
    				</update_rule_of_products_data>
    			</observers>
            </update_rule_of_products>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <klevu_boosting before="Mage_Adminhtml">Klevu_Boosting_Adminhtml</klevu_boosting>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <boosting translate="title" module="boosting">
                            <title>Klevu Product Boosting</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <boost translate="title">
                                    <title>Klevu Product Boosting Manager</title>
                                    <sort_order>0</sort_order>
                                </boost>
                            </children>
                        </boosting>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <boosting>
                    <file>klevu/boosting.xml</file>
                </boosting>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Klevu_Boosting/>
            </modules>
        </suite>
    </phpunit>   
</config>