<?xml version="1.0"?>
<config>
    <modules>
        <Klevu_Search>
            <version>1.2.2</version>
        </Klevu_Search>
    </modules>
    <global>
        <blocks>
            <klevu_search>
                <class>Klevu_Search_Block</class>
            </klevu_search>
            <adminhtml>
                <rewrite>
                    <system_config_form_field>Klevu_Search_Block_Adminhtml_System_Config_Form_Field</system_config_form_field>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <klevu_search>
                <class>Klevu_Search_Helper</class>
            </klevu_search>
        </helpers>
        <models>
            <klevu_search>
                <class>Klevu_Search_Model</class>
                <resourceModel>klevu_search_resource</resourceModel>
            </klevu_search>
            <klevu_search_resource>
                <class>Klevu_Search_Model_Resource</class>
                <entities>
                    <notification>
                        <table>klevu_notification</table>
                    </notification>
                    <product_sync>
                        <table>klevu_product_sync</table>
                    </product_sync>
                    <order_sync>
                        <table>klevu_order_sync</table>
                    </order_sync>
                </entities>
            </klevu_search_resource>
        </models>
        <resources>
            <klevu_search_setup>
                <setup>
                    <module>Klevu_Search</module>
                </setup>
            </klevu_search_setup>
        </resources>
        <events>
            <admin_system_config_changed_section_klevu_search>
                <observers>
                    <klevu_search_removetest>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>removeTest</method>
                    </klevu_search_removetest>
                </observers>
            </admin_system_config_changed_section_klevu_search>
            <controller_action_predispatch_catalogsearch_result_index>
                        <observers>
                            <klevu_search_landing_page>
                            <type>singleton</type>
                            <class>klevu_search/observer</class>
                            <method>applyLandingPageModelRewrites</method>
                            </klevu_search_landing_page>
                        </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <after_reindex_process_catalog_category_product>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </after_reindex_process_catalog_category_product>
            <after_reindex_process_catalog_product_price>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </after_reindex_process_catalog_product_price>
            <after_reindex_process_catalog_url>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </after_reindex_process_catalog_url>
            <catalog_inventory_stock_item_save_commit_after>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </catalog_inventory_stock_item_save_commit_after>
            <catalog_product_save_commit_after>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                    <catalog_product_media_save_before_event>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>createThumb</method>
                    </catalog_product_media_save_before_event>
                </observers>
            </catalog_product_save_commit_after>
            <catalog_product_delete_commit_after>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </catalog_product_delete_commit_after>
            <catalog_entity_attribute_save_commit_after>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>syncAllProducts</method>
                    </klevu_search_product_sync>
                </observers>
            </catalog_entity_attribute_save_commit_after>
            <category_move>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </category_move>
            <sales_order_place_after>
                <observers>
                    <klevu_search_order_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleOrderSync</method>
                    </klevu_search_order_sync>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </klevu_search_product_sync>
                </observers>
            </sales_order_place_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <klevu_search_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>setProductsToSync</method>
                    </klevu_search_product_sync>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_category_change_products>
                <observers>
                    <klevu_search_categroy_product_sync>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>setCategoryProductsToSync</method>
                    </klevu_search_categroy_product_sync>
                </observers>
            </catalog_category_change_products>
            <catalog_category_save_after>
                <observers>
                    <catalog_category_page_prepare_save>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </catalog_category_page_prepare_save>
                </observers>
            </catalog_category_save_after>
            <catalog_controller_category_delete>
                <observers>
                    <catalog_controller_category_delete_page>
                        <type>singleton</type>
                        <class>klevu_search/observer</class>
                        <method>scheduleProductSync</method>
                    </catalog_controller_category_delete_page>
                </observers>
            </catalog_controller_category_delete>
            <review_save_after>
                <observers>
                    <ratingsUpdate>
                        <type>singleton</type> 
                        <class>klevu_search/observer</class>
                        <method>ratingsUpdate</method>
                    </ratingsUpdate>
                </observers>
            </review_save_after>
            <catalogrule_before_apply>
                <observers>
                    <catalogruleexpiryupdatebefore>
                        <type>singleton</type> 
                        <class>klevu_search/product_sync</class>
                        <method>catalogruleupdateifno</method>
                    </catalogruleexpiryupdatebefore>
                </observers>
            </catalogrule_before_apply>
            <catalogrule_after_apply>
                <observers>
                    <catalogruleexpiryupdateafter>
                        <type>singleton</type> 
                        <class>klevu_search/product_sync</class>
                        <method>catalogruleupdateifno</method>
                    </catalogruleexpiryupdateafter>
                </observers>
            </catalogrule_after_apply>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <klevu_search before="Mage_Adminhtml">Klevu_Search_Adminhtml</klevu_search>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <klevu_search>
                    <file>klevu/search.xml</file>
                </klevu_search>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
       <routers>
            <search>
                <use>standard</use>
                <args>
                <module>Klevu_Search</module>
                <frontName>search</frontName>
                </args>
            </search>
        </routers>
		<layout>
		  <updates>
			<search>
			  <file>klevu/search.xml</file>
			</search>
		  </updates>
		</layout>
    </frontend>
    <crontab>
        <jobs>
            <klevu_search_clear_cron_check>
                <run>
                    <model>klevu_search/cron::clearCronCheckNotification</model>
                </run>
            </klevu_search_clear_cron_check>
            <klevu_search_product_sync>
                <schedule>
                    <config_path>klevu_search/product_sync/frequency</config_path>
                </schedule>
                <run>
                    <model>klevu_search/product_sync::run</model>
                </run>
            </klevu_search_product_sync>
            <klevu_search_order_sync>
                <schedule>
                    <config_path>klevu_search/order_sync/frequency</config_path>
                </schedule>
                <run>
                    <model>klevu_search/order_sync::run</model>
                </run>
            </klevu_search_order_sync>
   
        </jobs>
    </crontab>
    <default>
        <klevu_search>
            <general>
                <enabled>0</enabled>
                <test_mode>0</test_mode>
                <hostname>box.klevu.com</hostname>
                <rest_hostname>rest.klevu.com</rest_hostname>
                <test_hostname>box.klevu.com</test_hostname>
                <test_cloud_search_url>eucs.klevu.com</test_cloud_search_url>
                <cloud_search_url>eucs.klevu.com</cloud_search_url>
                <analytics_url>stats.klevu.com</analytics_url>
                <test_analytics_url>stats.klevu.com</test_analytics_url>
                <js_url>js.klevu.com</js_url>
                <test_js_url>js.klevu.com</test_js_url>
                <tiers_url>tiers.klevu.com</tiers_url>
            </general>
            <product_sync>
                <enabled>1</enabled>
                <frequency>0 * * * *</frequency>
                <last_run>Never</last_run>
                <sync_options>1</sync_options>
            </product_sync>
            <searchlanding>
                <landenabled>2</landenabled>
            </searchlanding>
            <order_sync>
                <enabled>1</enabled>
                <frequency>0 * * * *</frequency>
                <last_run>Never</last_run>
            </order_sync>
            <developer>
                <force_log>1</force_log>
                <enable_external_call>0</enable_external_call>
                <!-- Log level default is set in the backend model and getter as it uses Zend_Log constants -->
            </developer>
            <order_sync>
                <enabled>1</enabled>
            </order_sync>
        </klevu_search>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Klevu_Search/>
            </modules>
        </suite>
    </phpunit>
</config>
