<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Klevu_Content>
            <version>10.0.4</version>
        </Klevu_Content>
    </modules>
    <frontend>
        <routers>
            <content>
                <use>standard</use>
                <args>
                    <module>Klevu_Content</module>
                    <frontName>content</frontName>
                </args>
            </content>
        </routers>
        <layout>
            <updates>
                <content>
                    <file>klevu/content.xml</file>
                </content>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <content>
                <class>Klevu_Content_Helper</class>
            </content>
        </helpers>
        <blocks>
            <content>
                <class>Klevu_Content_Block</class>
            </content>
        </blocks>
        <models>
            <content>
                <class>Klevu_Content_Model</class>
            </content>
        </models>
        <resources>
            <klevu_content_setup>
                <setup>
                    <module>Klevu_Content</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </klevu_content_setup>
            <content_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </content_write>
            <content_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </content_read>
        </resources>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <content_cms_page_prepare_save>
                        <type>singleton</type>
                        <class>content/observer</class>
                        <method>scheduleOtherContent</method>
                    </content_cms_page_prepare_save>
                </observers>
            </cms_page_prepare_save>
            <adminhtml_cmspage_on_delete>
                <observers>
                    <content_adminhtml_cmspage_on_delete>
                        <type>singleton</type>
                        <class>content/observer</class>
                        <method>scheduleOtherContent</method>
                    </content_adminhtml_cmspage_on_delete>
                </observers>
            </adminhtml_cmspage_on_delete>
            <sync_all_external_data>
                <observers>
                    <sync_all_content_data>
                        <type>singleton</type>
                        <class>content/observer</class>
                        <method>syncAllContent</method>
                    </sync_all_content_data>
                </observers>
            </sync_all_external_data>
            <content_data_to_sync>
                <observers>
    				<add_content_data_to_sync>
    					<type>singleton</type>
    					<class>content/observer</class>
    					<method>syncOtherContent</method>
    				</add_content_data_to_sync>
    			</observers>
            </content_data_to_sync>
            <excluded_cms_pages>
                <observers>
    				<add_boosting_data_to_sync>
    					<type>singleton</type>
    					<class>content/observer</class>
    					<method>saveExcludedCmsPages</method>
    				</add_boosting_data_to_sync>
    			</observers>
            </excluded_cms_pages>
        </events>
    </global>
    <crontab>
        <jobs>
            <klevu_search_content_sync>
                <schedule>
                    <config_path>klevu_search/product_sync/frequency</config_path>
                </schedule>
                <run>
                    <model>content/content::run</model>
                </run>
            </klevu_search_content_sync>
        </jobs>
    </crontab>
    <default>
        <klevu_search>
            <product_sync>
                <enabledcms>1</enabledcms>
            </product_sync>
            <cmscontent>
                <enabledcmsfront>0</enabledcmsfront>
            </cmscontent>
        </klevu_search>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Klevu_Content />
            </modules>
        </suite>
    </phpunit>
</config>