<?xml version="1.0"?>
<config>
  <modules>
    <Klevu_Addtocart>
      <version>10.0.4</version>
    </Klevu_Addtocart>
  </modules>
  <frontend>
    <routers>
      <addtocart>
        <use>standard</use>
          <args>
            <module>Klevu_Addtocart</module>
            <frontName>addtocart</frontName>
          </args>
      </addtocart>
    </routers>
		<layout>
		  <updates>
			<addtocart>
			  <file>klevu/addtocart.xml</file>
			</addtocart>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <addtocart>
        <class>Klevu_Addtocart_Helper</class>
      </addtocart>
    </helpers>
	<blocks>
	  <addtocart>
		<class>Klevu_Addtocart_Block</class>
	  </addtocart>
	</blocks>
  </global>
    <default>
        <klevu_search>
            <add_to_cart>
                <enabled>0</enabled>
            </add_to_cart>
        </klevu_search>
    </default>
</config> 