<?xml version="1.0"?>
<config>
  <modules>
    <Klevu_Searchterms>
      <version>10.0.4</version>
    </Klevu_Searchterms>
  </modules>
      <frontend>
        <routers>
            <searchterms>
                <use>standard</use>
                <args>
                    <module>Klevu_Searchterms</module>
                    <frontName>popular-search-terms</frontName>
                </args>
            </searchterms>
        </routers>
        <layout>
            <updates>
                <searchterms>
                    <file>klevu/searchterms.xml</file>
                </searchterms>
            </updates>
        </layout>
    </frontend>
  <global>
    <helpers>
      <klevu_searchterms>
        <class>Klevu_Searchterms_Helper</class>
      </klevu_searchterms>
    </helpers>
    <models>
      <klevu_searchterms>
        <class>Klevu_Searchterms_Model</class>
      </klevu_searchterms>
    </models>
    <events>
	  <controller_action_predispatch_catalogsearch_term_popular>
        <observers>
          <controller_action_predispatch_catalogsearch_term_popular_handler>
            <type>singleton</type>
            <class>klevu_searchterms/observer</class>
            <method>applySearchtermsPageModelRewrites</method>
            <args></args>
          </controller_action_predispatch_catalogsearch_term_popular_handler>
        </observers>
      </controller_action_predispatch_catalogsearch_term_popular>
    </events>
    <blocks>
      <klevu_searchterms>
        <class>Klevu_Searchterms_Block</class>
      </klevu_searchterms>
    </blocks>
	<resources>
	    <klevu_searchterms_setup>
		    <setup>
		        <module>Klevu_Searchterms</module>
		    </setup>
		    <connection>
		        <use>core_setup</use>
		    </connection>
	    </klevu_searchterms_setup>
	</resources>
  </global>
    <default>
        <klevu_search>
            <popular_search_term>
                <enabled>0</enabled>
            </popular_search_term>
        </klevu_search>
    </default>
</config> 